/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
}

/* 统一搜索框文本颜色 */
[data-class='search'] input {
  color: #000;
  padding:0 5px;
  box-sizing:border-box;
}

/* 自定义表格滚动条 */
[data-class='table-panel'] ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
    opacity:.3;
}

[data-class='table-panel'] ::-webkit-scrollbar-track
{
border-radius: 10px;
	background-color: transparent;
  opacity: .3;
}

[data-class='table-panel'] ::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background: linear-gradient(to top, rgba(56,118,205,.3), rgba(84,255,255,.3));
}

@layer utilities {
  .scroll {
    overflow-y: scroll;
  }

  .lump {
    position: relative;
  }

  /* 柱状图 kg 前色块 */
  .lump::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    transform: translate(-150%, 45%);
    background: linear-gradient(to top, #3876cd, #54ffff);
  }

  .t-bg,
  .t-bg-p {
    position: relative;
    padding-top: 0.225rem;
    padding-bottom: 0.225rem;
  }

  .t-th-bg {
    background: linear-gradient(to bottom, rgba(56,118,205,.3), rgba(69,180,231,.3));
  }

  .t-bg::before,
  .t-bg-p::before {
    content: ''; /*用伪元素来生成一个矩形*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #3876cd, #45b4e7);
    z-index: -1; /*背景色要在文字的下一层，以免挡住文字*/
    opacity: 0.5;
  }

  .t-bg-p::before {
    opacity: 0.3;
  }

  .t-shape {
    padding: 0.25em 0.45em 0.25em;
    display: inline-block;
    position: relative;
    cursor: pointer;
  }

  .t-shape:hover::before,.active::before {
    background: linear-gradient(to right, #45b4e7, #3876cd) !important;
    opacity: 0.6 !important;
  }

  .t-shape::before {
    content: ''; /*用伪元素来生成一个矩形*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, #3876cd, #45b4e7);
    z-index: -1; /*背景色要在文字的下一层，以免挡住文字*/
    transform: perspective(100px) skew(-30deg);
    opacity: 0.3;
    border: dashed 4px #45b4e7;
  }

  .wireframe {
    position: relative;
  }

  .wireframe::after {
    content: '';
    border: 1px solid #45b4e7;
    border-top: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    opacity: 0.3;
  }

  .align-center {
    align-items: center;
  }
}
